.lazyload-img {
			opacity: 0;
			will-change: transform, opacity, filter;
			perspective: 1000;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transform-style: preserve-3d;
			image-rendering: -webkit-optimize-contrast;
		}

		//lazy load fade in
		.llreplace {
			opacity: 0;
		}
		.reveal {
			transition: opacity .8s ease-out;
			opacity: 1;
		}