.lazyload-img {
  will-change: transform, opacity, filter;
  perspective: 1000;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  image-rendering: -webkit-optimize-contrast;
}

//lazy load fade in
.llreplace {
  opacity: 0;
}
.reveal {
  opacity: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation: reveal .6s ease-out;
}
@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


//lazy load blur
.llreplace {
  opacity: 0;
}
.reveal {
  filter: opacity(1) !important;
  -webkit-filter: opacity(1) !important;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation: reveal .6s ease-out;
}

@keyframes reveal {
  0% {filter: blur(2vw); -webkit-filter: blur(2vw);}
  100% {filter: blur(0); -webkit-filter: blur(0);}
}
